XML/aula.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="nombre" type="xs:string"/>
    <xs:element name="carrera" type="xs:string"/>

    <!--restriccion de edad entre 18 y 58-->
    <xs:element name="edad">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="18"/>
                <xs:maxInclusive value="29"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="estudiante">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nombre"/>
                <xs:element ref="edad"/>
                <xs:element ref="carrera"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="universidad">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="estudiante" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>