XML/catalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="title" type="xs:string"/>
    <xs:element name="author" type="xs:string"/>
    <xs:element name="year" type="xs:integer"/>
    <xs:element name="publisher" type="xs:string"/>
    <xs:attribute name="nombreBiblioteca" type="xs:attribute" />
    <xs:attribute name="prestado" type="xs:boolean"/>
    <xs:element name="book">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="title"/>
                <xs:element ref="author"/>
                <xs:element ref="year"/>
                <xs:element ref="publisher"/>
            </xs:sequence>
            <xs:attribute ref="prestado" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="catalog">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="book" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="nombreBiblioteca" use="optional"/>
        </xs:complexType>
    </xs:element>
</xs:schema>