XML/Libreria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- Definimos elementos finales-->
    <xs:element name="titulo" type="xs:string"/>
    <xs:element name="autor" type="xs:string"/>
    <xs:element name="anio" type="xs:integer"/>
    <xs:element name="genero" type="xs:string"/>
    <!--Declaracion del elemento libro-->
    <xs:element name="libro">
        <xs:complexType>
            <xs:sequence>
            <xs:element ref="titulo"/>
            <xs:element ref="autor"/>
            <xs:element ref="anio"/>
            <xs:element ref="genero"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!--Declaracion de elemento raiz-->
    <xs:element name="Libreria">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="libro" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- Definimos los elementos libreria con estos cuatro simples-->
    <xs:element name="libreria">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titulo" type="xs:string"/>
                <xs:element name="autor" type="xs:string"/>
                <xs:element name="anio" type="xs:integer"/>
                <xs:element name="genero" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- declaracion de genero como enumerado-->
    <xs:element name="genero">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Ficcion"/>
                <xs:enumeration value="Distopia"/>
                <xs:enumeration value="Realismo mágico"/>
                <xs:enumeration value="Distopía"/>
                <xs:enumeration value="Terror"/>
                <xs:enumeration value="Romance"/>
                <xs:enumeration value="Ciencia ficción"/>
                <xs:enumeration value="Misterio histórico"/>
                <xs:enumeration value="Drama"/>
                <xs:enumeration value="Novela psicológica"/>
                <xs:enumeration value="Suspense"/>
                <xs:enumeration value="Juvenil"/>
                <xs:enumeration value="Thriller"/>
                <xs:enumeration value="Fantasía filosófica"/>
                <xs:enumeration value="Ficción existencial"/>
                <xs:enumeration value="Surrealismo"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

</xs:schema>